@import '../../style/variables.scss';

.app {
    &__header {
        display: flex;
        justify-content: space-between;
        font-size: 40px;
        color: $light;
    }
    &__title {
        font-weight: bold;
       
        line-height: 37px;
        span {
            color: $main-color;
        }
    }
    &__menu {
        ul {
            display: flex;
            justify-content: space-between;
            font-weight: bold;

            line-height: 32px;
            li:hover {
                
            
                color: $pink;
                
            }
        }
    }
}
.img-header{
    margin: 0 auto;
    display: block;
    transition: all 0.5s;
    &:hover{
        filter: drop-shadow(0 0 15px $main-color);
        
    }
   
    
}